.blog-container {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  background: #ffffff;
  color: #333;
  padding: 8rem 2rem;
}

.blog-heading {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #d9045a;
  border-bottom: 2px solid #bcc571;
  /* padding-bottom: 0.8rem; */
}

.blog-list {
  margin-top: 2.5rem;
}

.blog-card {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.blog-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #d9045a;
  margin-bottom: 0.6rem;
}

.blog-meta {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-image {
  width: 100%;
  max-width: 420px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-description {
  /* font-size: 1.1rem; */
  font-size: 1rem;

  color: #737373;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.read-more-btn {
    /* width: 120px; */
  width: max-content;
  display: inline-block;
  background: #d9045a;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}
.read-more-btn:hover {
    background: #f4f4f4;
}

.discover-more {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.discover-btn {
  background: #d9045a;
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.discover-btn:hover {
  background: #d9045a;
}

/* Responsive */
@media (min-width: 768px) {
  .blog-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .blog-text {
    flex: 1;
  }
}
