/* home.css/main.css */

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::selection{
  background-color: #f9afc5;
}

::-webkit-scrollbar {
  scrollbar-width: none;
}

.hero-section {
  position: relative;
  height: 72vh;
  background: url('https://res.cloudinary.com/dh3qwxhmm/image/upload/v1755175231/headerbg_11zon_mioujf.jpg')
    no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px; 
  margin-bottom: 70px; 
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 650px;
  z-index: 2;
  /* padding: 20px; */
}

.hero-content h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  margin-bottom: 28px;
}

.cta-btn {
  /* background: linear-gradient(90deg, #d9045a, #ff6f61); */
  color: white;
  background-color: var(--primary);
  font-weight: 600;
  padding: 14px 36px;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-btn:hover {
  /* background: linear-gradient(90deg, #c6034e, #ff5b50); */
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 1.4rem;
  }
  .hero-content p {
    font-size: 0.8rem;
  }
  .cta-btn {
    font-size: 0.8rem;
    padding: 12px 28px;
  }
}

.hero-card {
  backdrop-filter: blur(10px);
  background: rgb(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 32px 70px;
  text-align: center;
  color: #fff;
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}