/* src/css/navbar/navbar.css */

.header-navbar-controller {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.top-bar {
  background: black;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}

.top-bar a {
  color: white;
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  background: rgb(255, 255, 255);
  color: black;
}

.navbar .logo {
  position: static;
}

.navbar .logo img {
  width: 100px;
  height: 50px;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hamburger {
  cursor: pointer;
  z-index: 1100;
  display: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.navbar ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  order: 3;
  margin-left: 0;
}

.icons span {
  cursor: pointer;
}

.icons .icons-navigations{
  color: #1b0712;
  font-size: 30px;
  transition: transform 0.2s ease;
}

/* Dropdown */
.icons span:last-child {
  position: relative;
}

.profile-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    /* border: 1px solid #ddd; */
    border: 1px solid red;
    border-radius: 4px;
    padding: 12px;
    z-index: 1000;
    min-width: 120px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.dropdown-button {
    color: black;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 16px;
}
.dropdown-button:hover {
    background: #f5f5f5;
}


/* Responsive */
@media (max-width: 1024px) {
  .navbar {
    padding: 15px 20px;
  }
}

@media (max-width: 768px) {
  .navbar {
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    order: 0;
  }

  .logo img {
    order: 2;
  }

  .nav-links {
    position: fixed;
    top: 60px;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: white;
    flex-direction: column;
    gap: 20px;
    padding: 60px 20px 20px 20px;
    max-height: none;
    overflow-y: hidden;
    transition: left 0.3s ease-in-out;
    z-index: 1200;
    display: flex;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    font-size: 18px;
  }

  .icons {
    order: 3;
    margin-left: 0;
    margin-top: 0;
    width: auto;
    justify-content: flex-end;
    flex-grow: 0;
  }
}

@media (max-width: 480px) {
  .top-bar {
    font-size: 12px;
  }

  .navbar {
    padding: 16px;
  }

  .navbar ul {
    top: 100px;
    width: 160px;
    gap: 20px;
  }
}
