/* Services highlights */

.service-highlights {
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
    padding: 40px 100px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    gap: 20px;
    flex-wrap: wrap;
}

.service-box {
    flex: 1 1 200px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.service-box i {
    font-size: 24px;
    color: #111;
    margin-top: 5px;
}

.service-box h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #111;
}

.service-box p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}




@media screen and (max-width: 1200px) {
    .service-highlights {
        margin: 20px 40px;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 768px) {

    .service-highlights {
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        margin: 20px 20px;
    }

    .service-box {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .service-box h4 {
        font-size: 14px;
    }

    .service-box p {
        font-size: 12px;
    }
}